{% extends 'base.html' %}
{% load static %}

{% block title %}CMS | Clients{% endblock %}

{% block content %}
  
  <div class="container">
    <div class="row">
      <div class="add-client col-md-8">
        <h1>Add Client</h1>
        <h2>Please Note:</h2>
        <p>New Clients can be added but notes will be unavailble until the client is assigned their care team.
          <b>IF</b> you are adding a new client because you have been sent to their location and no records are available please check with your Team Leader that there is no existing record.
          <b>IF</b> there is no existing record for your client please add a short description of their condition and what ever care you have provided today.
          Then advise your Team Leader that the new client will need to have their condition created in full by the records team and that your initial care note will need to be recreated.
        </p>
      </div>
    </div>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
{% endblock %}
