{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}CMS | Clients{% endblock %}

{% block content %}
  <h1>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Client</h1>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-between mt-3">
      <button type="submit" class="btn btn-primary">Save</button>
      {% if form.instance.pk %}
        <a href="{% url 'cms:client_detail' pk=form.instance.pk %}" class="btn btn-secondary">Return to client details</a>
      {% endif %}
    </div>
  </form>
{% endblock %}
