{% extends 'base.html' %}
{% load static %}

{% block title %}CMS | Home{% endblock %}


{% block image %}
<div class="hero-image">
    <div class="hero-text">
      <h1 class="welcome-header">Welcome to the Complete Care Portal</h1>
      {% if not user.is_authenticated %}
      <p class="welcome-text">Please register or sign in to proceed</p>
      {% endif %}
    </div>
</div>
{% endblock %}
{% block content %}
  <h1 class="page-header">Supporting your Home Care</h1>
  <div class="body-text">
    <p>
      "Your home care is important to us because we understand that your home is not just a place—it's where your life happens.
      It's where memories are made, and where you find comfort and peace. At our company, we are committed to ensuring that your home remains a safe, clean, and welcoming environment.
      We know that when your home is well cared for, you feel more at ease, and that peace of mind is invaluable.
      Our dedication to home care means we treat your space with the same respect and attention to detail as if it were our own.
      We take pride in delivering high-quality service, so you can focus on what matters most—enjoying your home and the people in it."</p>
  </div>
{% endblock %}