{% extends "base.html" %}

{% block content %}
  <div class="note-content">
    <h2>{{ note.title }}</h2>
    <p><strong>Author:</strong> {{ note.author }}</p>
    <p><strong>Date Created:</strong> {{ note.created_on }}</p>
    <hr>
    <p>{{ note.content|safe }}</p>
    <br>
    <div class="d-flex justify-content-between mt-3">
      <div class="d-flex justify-content-end mt-3">
        <a href="{% url 'cms:client_detail' pk=note.client.pk %}" class="btn btn-secondary">Return to client details</a>
      </div>
    </div>
  </div>
{% endblock %}
